div.main-container{
	padding: 0rem;
}
div.left{
	width:0rem;
	left:0rem;
}
div.right{
	width:0rem;
	margin-left: 0rem;
	right:0rem;
}
section#work .work-section-content .work-text-content{
	width:100%;
	/*margin-right: 5%;*/
}
section#work .work-section-content .work-slider{
	width:100%;
}
@media screen and (min-width: 1800px){
	html,body{
		font-size: 24px;
	}
	nav a{
		padding: 1rem 2.5rem;
	}
}
@media screen and (min-width: 1590px) and (max-width: 1799px){
	html,body{
		font-size: 22px;
	}
	nav a{
		padding: 1rem 2.5rem;
	}
}
@media screen and (min-width:1000px) and (max-width: 1589px){
	html,body{
		font-size: 20px;
	}
	nav a{
		padding: 1rem 1.5rem;
	}
}
@media screen and (min-width: 700px) and (max-width:999px){
	html,body{
		font-size: 18px;
	}
	nav a{
		padding:  1rem 1rem;
	}
}
@media screen and (min-width: 350px) and (max-width:699px){
	html,body{
		font-size: 16px;
	}
	nav a{
		padding:  1rem 0.5rem;
	}
}