@media screen and (min-width: 1800px){
	html,body{
		font-size: 36px;
	}
	div.container{
		padding:0;
	}
	div.left{
		width:0rem;
		left:0rem;
	}
	div.right{
		width:0rem;
		margin-left: 0rem;
		right:0rem;
	}
	nav a{
		padding: 1rem 2.5rem;
	}
}
@media screen and (min-width: 1590px) and (max-width: 1799px){
	html,body{
		font-size: 34px;
	}
	div.container{
		padding:0;
	}
	div.left{
		width:0rem;
		left:0rem;
	}
	div.right{
		width:0rem;
		margin-left: 0rem;
		right:0rem;
	}
	nav a{
		padding: 1rem 2.5rem;
	}
}
@media screen and (min-width:1000px) and (max-width: 1589px){
	html,body{
		font-size: 32px;
	}
	div.container{
		padding:0;
	}
	div.left{
		width:0rem;
		left:0rem;
	}
	div.right{
		width:0rem;
		margin-left: 0rem;
		right:0rem;
	}
	nav a{
		padding: 1rem 1.5rem;
	}
}
@media screen and (min-width: 700px) and (max-width:999px){
	html,body{
		font-size: 28px;
	}
	div.container{
		padding:0;
	}
	div.left{
		width:0rem;
		left:0rem;
	}
	div.right{
		width:0rem;
		margin-left: 0rem;
		right:0rem;
	}
	nav a{
		padding:  1rem 1rem;
	}
}
@media screen and (min-width: 350px) and (max-width:699px){
	html,body{
		font-size: 20px;
	}
	div.container{
		padding:0;
	}
	div.left{
		width:0rem;
		left:0rem;
	}
	div.right{
		width:0rem;
		margin-left: 0rem;
		right:0rem;
	}
	nav a{
		padding:  1rem 0.5rem;
	}
}