@media screen and (min-width: 1800px){
	html,body{
		font-size: 16px;
	}
	div.main-container{
		padding:0 16rem;
	}
	div.left{
		width:16rem;
		left:-16rem;
	}
	div.right{
		width:16rem;
		margin-left: -16rem;
		right:-16rem;
	}
	nav a{
		padding: 1rem 2.5rem;
	}
}
@media screen and (min-width: 1590px) and (max-width: 1799px){
	html,body{
		font-size: 16px;
	}
	div.main-container{
		padding:0 14rem;
	}
	div.left{
		width:14rem;
		left:-14rem;
	}
	div.right{
		width:14rem;
		margin-left: -14rem;
		right:-14rem;
	}
	nav a{
		padding: 1rem 2.5rem;
	}
}
@media screen and (min-width:1000px) and (max-width: 1589px){
	html,body{
		font-size: 12px;   
	}
	div.main-container{
		padding:0 10rem;
	}
	div.left{
		width:10rem;
		left:-10rem;
	}
	div.right{
		width:10rem;
		margin-left: -10rem;
		right:-10rem;
	}
	nav a{
		padding: 1rem 1.5rem;
	}
}
@media screen and (min-width: 700px) and (max-width:999px){
	html,body{
		font-size: 6px;
	}
	div.main-container{
		padding:0 4rem;
	}
	div.left{
		width:4rem;
		left:-4rem;
	}
	div.right{
		width:4rem;
		margin-left: -4rem;
		right:-4rem;
	}
	nav a{
		padding:  1rem 1rem;
	}
}
@media screen and (min-width: 350px) and (max-width:699px){
	html,body{
		font-size: 4px;
	}
	div.main-container{
		padding:0;
	}
	div.left{
		width:0rem;
		left:-0rem;
	}
	div.right{
		width:0rem;
		margin-left: -0rem;
		right:-0rem;
	}
	nav a{
		padding:  1rem 0.5rem;
	}
}