<!DOCTYPE html>
<html>
<head>
	<title>陈冰</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="icon" type="text/png" href="./images/ic_launcher.png" />
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/responsive.css">
	<style type="text/css">
		
	</style>
	<script type="text/javascript" src="./js/jquery.min.js"></script>
	<script type="text/javascript" src="./js/template.min.js"></script>
	<script type="text/javascript" src="./js/source.js"></script>
	<script type="text/javascript" src="./js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./js/utils.js"></script>
</head>
<body>
	<div class="main-container">
		<div class="main">
			<div class="main-header">
				<nav>
					<a href="#about">ABOUT</a>
					<a href="#work">WORK</a>
					<a href="#honor">HONOR</a>
					<a href="#contact">CONTACT</a>
				</nav>
				<header>
					<script type="text/html" id="tempHeader">
						<!-- <img class="background" src="./images/background.jpg"> -->
						<div class="avatar">
							<img src="{{avatar}}">
						</div>
						<h3 class="myName">{{userName}}</h3>
						<p class="myJob">{{job}}</p>
						<div class="out-link">
							{{each outLinks as o}}
							{{if o.href}}
							<a href="{{o.href}}" target="_blank" data-code="{{o.qrcode}}"><img src="{{o.iconURL}}"></a>
							{{else}}
							<a href="javascript:;" data-code="{{o.qrcode}}" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="{{o.tip}}" data-placement="bottom"><img src="{{o.iconURL}}"></a>
							{{/if}}
							{{/each}}
						</div>
						<div class="base-info">
							{{each baseInfo as o,i}}
							<div>
								<span class="info-title">{{i}} :</span>
								<span class="info-value">{{o}}</span>
							</div>
							{{/each}}
						</div>
					</script>
				</header>
			</div>
			<section id="about">
				<script type="text/html" id="tempAboutSection">
					<div class="section-title about-section-title">
						<div class="about-section-avatar">
							<img src="{{aboutSectionAvatar}}">
						</div>
						<span class="section-span">{{aboutSectionSpan}}</span>
						<div class="underLine"></div>
						<p class="section-title-tip">{{aboutSectionTip}}</p>
					</div>
					<div class="about-section-content">
						<div class="intro">
							<h4 class="intro-title">{{introTitle}}</h4>
							<div class="intro-content">
							<ul>
								{{each introContent as o}}
								<li>{{o}}</li>
								{{/each}}
							</ul>
							</div>
						</div>
						<div class="divide">
							<div class="out"><div class="in"></div></div>
						</div>
						<div class="skills">
							<h4 class="skills-title">MY SKILLS</h4>
							<div class="skills-content">
								{{each skills as skill}}
								<div class="sub-skill">
									<p class="skill-title">{{skill.title}}</p>
									{{each skill.content as o}}
									<div class="skills-fill">
										<div class="skill-actual" style="width: {{o.val}} !important">
											<div class="skills-item">
												<span class="skill-name">{{o.name}}</span>
												<span class="skill-val">{{o.val}}</span>
											</div>
										</div>
									</div>
									{{/each}}
								</div>
								{{/each}}
							</div>
						</div>
					</div>
				</script>
			</section>
			<section id="work">
			<script type="text/html" id="tempWorkSection">
				<div class="section-title work-section-title">
					<span class="section-span">WORK</span>
					<div class="underLine"></div>
					<p class="section-title-tip">DO YOU WANT TO KNOW ME?</p>
				</div>
				<div class="work-section-content">
					<div class="work-text-content">
						{{each projectInfoList as o,i}}
						<div class="project">
							<h4 class="projName"><b>{{o.projName}}</b></h4>
							<div class="projInfo">
								<span class="date">{{o.date}}</span>
								<span class="character">{{o.character}}</span>
							</div>
							<ul class="projPoints">
								{{each o.points as item}}
								<li class="projPoint">{{item}}</li>
								{{/each}}
							</ul>
						</div>
						{{if i<projectInfoList.length-1&&projectInfoList.length>1}}
						<div class="white-divider"></div>
						{{/if}}
						{{/each}}
					</div>
					<div class="work-slider">
						<div id="carousel" class="carousel slide" data-ride="carousel">
						  <ol class="carousel-indicators">
						  	{{each sliderImages as o,i}}
						  	<li data-target="#carousel" data-slide-to="{{i}}" class="{{i==0?'active':''}}"></li>
						  	{{/each}}
						  </ol>
						  <div class="carousel-inner" role="listbox">
						  {{each sliderImages as o,i}}
						  	<div class="item {{i==0?'active':''}}">
						      <img src="{{o.url}}" onload="centerThumb(this)">
						      <div class="carousel-caption">
						        {{o.caption}}
						      </div>
						    </div>
						  {{/each}}
						  </div>
						  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					</div>
					<div class="work-show">
						<nav class="work-show-nav">
							{{each workshowList as o,i}}
							<a href="#work_{{o.id}}" >{{o.category | string2Upper}}</a>
							{{/each}}
						</nav>
						{{each workshowList as o,idx}}
							<section id="work_{{o.id}}" class="work-show-section ">
								{{each o.profit as item}}
								<a class="work-show-item {{item.projName?'active':''}}" href="{{item.link?item.link:'javascript:;'}}" target="_blink">
									<span>{{item.projName}}</span>
								</a>
								{{/each}}
							</section>
						{{/each}}
					</div>
				</div>
			</script>
			</section>
			<section id="honor">
				<script type="text/html" id="tempHonorSection">
					<div class="section-title honor-section-title">
						<span class="section-span">HONOR</span>
						<div class="underLine"></div>
						<p class="section-title-tip">MY HONOR IN SCHOOL AND WORK</p>
					</div>
					<div class="honor-section-content">
						{{each honorSectionList as o,i}}
						<div class="honor-{{o.category}} honor-category">
							<div class="honor-icon" style="background: {{o.color}}">
								<img src="{{o.icon}}">
								<span>{{o.category | string2Upper}}</span>
							</div>
							<ul class="honor-details">
								{{each o.honorList as item}}
								<li>{{item.details}}</li>
								{{/each}}
							</ul>
						</div>
						<!-- {{if i<honorSectionList.length-1&&honorSectionList.length>1}}
						<div class="col-divider"></div>
						{{/if}} -->
						{{/each}}
					</div>
				</script>
			</section>
			<section id="contact"></section>
			<footer>
				<div class="bottom-bar">
					<span>&copy; Made With Chenbing</span>
				</div>
			</footer>
		</div>
		<div class="left"></div>
		<div class="right"></div>
	</div>
	<div class="modal fade modalQrcode" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="modal-dialog modal-sm" role="document">
	    <div class="modal-content">
	      <script type="text/html" id="tempQrcode">
	      	<img src="{{qrcode}}">
	      </script>
	    </div>
	  </div>
	</div>
	<script type="text/javascript" src="./js/moriarty.js"></script>
</body>
</html>